
    
  .headerContainer{
    height:540px;
    background: linear-gradient(315deg, #a316a0, #f3b2ad,  #a316a0)
  }

  .headerRight {
    height:540px;
  }

  .headerButton{
    margin-top:40px;
    font-size:26px;
    padding:10px 18px;
    font-weight: bold;
    color: #622569;
    display: inline-block;
    border-radius: 25px;
    background-color: rgba(255, 255, 255, 0.4);
    transition: all 0.3s;
    cursor: pointer;
  }

  .headerButton:hover {
    box-shadow: 2px 3px 5px rgba(0, 0, 0, 0.2);
  }

  footer{
    height:540px;
    background: linear-gradient(315deg, #a316a0, #f3b2ad,  #a316a0)
  }

  .navButton{
    background-color: transparent;
    transition: all 0.5s;
    cursor: pointer;
    margin-right:15px;
    border-radius: 20px;
  }

  .navButton:hover{
    background-color: rgba(255, 255, 255, 0.4);
    box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.1);
  }

  /* fonts */
  .one {
    font-size: 18px;
    font-family: 'Oswald';
    font-weight: 700;
  }
  
  .two {
    font-size: 90px;
    font-family: 'Oswald';
    font-weight: 700;
  }
  
  .three {
    font-size: 24px;
    font-family: 'Montserrat';
    font-weight: 400;
  }
  
  .four {
    font-size: 24px;
    font-family: 'Oswald';
    font-weight: 700;
  }
  
  .five-header {
    font-size: 36px;
    font-family: 'Oswald';
    font-weight: 700;
  }
  
  .five-item {
    font-size: 21px;
    font-family: 'Montserrat';
    font-weight: 400;
  }
  

  
  
  nav a {
    color: white;
    float: right;
    overflow: hidden;
    text-decoration: none;
  }
  
  img{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  height: 200px;
}

  footer {
    overflow: hidden;
    color: white;
    text-decoration: none;
    overflow: hidden;
  }
  
  ul {
    list-style-type: none;
  }
  
  p {
    font-size: 16px;
}
  /* Google icons */

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48
}

  
  @media screen and (max-width: 500px) {
  
    footer {
      display: none;
    }
  
    nav {
      display: none;
    }
  }

  .part2Background{
    background-color: #f5f5f5;
    padding:20px 10vw;
  }

  .part2-text{
    text-align: justify;
  }
